.container {
  background-color: darkslategrey;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.taskList{
margin:2em
}

.task{
  font-size: 2em;
}

.filter{
  text-align: center;
}